body {
}
.btn-open-close-audience {
       visibility: visible;
    background: #747b87;
    color: #FFF;
    position: absolute;
    right: 0%;
    top: 1%;
    border: 1px solid #747b87;
    border-radius: 20px;
    height: 35px;
    width: 146px;
    z-index: 120;
}

.btn-edit-audience {
       visibility: visible;
    background: #c8ceda;
    position: absolute;
    right: 0%;
    top: 10%;
    border: 1px solid #c8ceda;
    border-radius: 20px;
    height: 35px;
    width: 146px;
    z-index: 120;
}
#close-audience-popup {
        width: 427px;
    border: 1px solid #9fa6b6;
    background: #FFF;
}
.close-audience-message {
    font-size: 15px;
    color: #FFF;
    position: relative;
    top: -5px;
}
.all-events-will-delete-message {
       font-size: 15px;
    position: relative;
    top: -17px;
    left: 22px;
}
.close-audience-container {
        height: 160px;
    width: 425px;
    background: #FFF;
}

.btns-close-audience-popup {
        padding: 27px 40px 40px 59px;
}

.audience-edit-container {
    top: 390px;
    position: absolute;
    height: 83px;
    width: auto;
    margin: 5px 0;
    border-color: rgba(0,0,0,0.2);
    border-width: 2px;
    border-style: solid;
    border-radius: 24px;
    display: inline-block;
    left: 33%;
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 0 10px;
    z-index: 120;
}

.textboxforitem {
        border: 0;
    width: 30px;
    text-decoration: underline;
}
.audience-edit-container img {
    margin: 8px 2px 8px 10px;
}

.audience-edit-container span {
    margin-right: 5px;
}

.space-filler {
    width: 10px;
    display: inline-block;
}

.line-details {
    top: 0;
    left: 0;
    z-index: 80;
    position: absolute;
}
.tbforName {
    border: 0;
    text-decoration: underline;
    width: 130px;
}